<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hbq.cms.mapper.BannerMapper">
    <select id="findList" resultType="map">
        select
            t.id id,  -- 主键
            t.media_id mediaId,  -- 对应的媒体id
            t.image image,  -- 图片链接
            t.create_time createTime,  -- 创建时间
            t.update_time updateTime  -- 更新时间
        from banner t
        where 1=1
        <if test="p.mediaId != null and p.mediaId != ''">
            and t.media_id LIKE '%${p.mediaId}%'
        </if>
        <if test="p.image != null and p.image != ''">
            and t.image LIKE '%${p.image}%'
        </if>
        <if test="p.startTime != null and p.startTime != '' ">
            and t.create_time >= '${p.startTime}'
        </if>
        <if test="p.endTime !=null and p.endTime != '' ">
            and '${p.endTime}' >= t.create_time
        </if>
        order by t.id desc
    </select>
</mapper>