<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hbq.cms.mapper.BlogMapper">
    <select id="findList" resultType="map">
        select
            t.id id,  -- 主键
            t.user_id userId,  -- 用户id
            t.video_id videoId,  -- 视频id
            t.title title,  -- 标题
            t.img_url imgUrl,  -- 图片
            t.context context,  -- 内容
            t.create_time createTime,  -- 创建时间
            t.update_time updateTime   -- 更新时间
        from blog t
        <where>
            <if test="p.userId != null">
                and t.user_id = #{p.userId}
            </if>
            <if test="p.videoId != null">
                and t.video_id = #{p.videoId}
            </if>
            <if test="p.title != null and p.title != ''">
                and t.title LIKE '%${p.title}%'
            </if>
            <if test="p.imgUrl != null and p.imgUrl != ''">
                and t.img_url LIKE '%${p.imgUrl}%'
            </if>
            <if test="p.context != null and p.context != ''">
                and t.context LIKE '%${p.context}%'
            </if>
            <if test="p.startTime != null and p.startTime != '' ">
                and t.create_time >= #{p.startTime}
            </if>
            <if test="p.endTime !=null and p.endTime != '' ">
                and #{p.endTime} >= t.create_time
            </if>
        </where>
        order by t.id desc
    </select>
</mapper>