<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hbq.cms.mapper.OrdersMapper">
    <select id="findList" resultType="map">
        select
            t.id id,  -- 主键
            t.user_id userId,  -- 用户id
            u.name name,  -- 用户名
            t.doctor_user_id doctorUserId,  -- 医生用户id
            du.name doctorName,  -- 医生名
            t.context context,  -- 就诊建议
            t.drugs drugs,  -- 药品列表(,分割)
            t.status status,  -- 状态(1-新建 2-完成)
            t.create_time createTime,  -- 创建时间
            t.update_time updateTime  -- 更新时间
        from orders t
        left join user u on t.user_id = u.id
        left join user du on t.doctor_user_id = du.id
        where 1=1
            <if test="p.userId != null">
                and t.user_id = #{p.userId}
            </if>
            <if test="p.doctorUserId != null">
                and t.doctor_user_id = #{p.doctorUserId}
            </if>
            <if test="p.context != null and p.context != ''">
                and t.context LIKE '%${p.context}%'
            </if>
            <if test="p.drugs != null and p.drugs != ''">
                and t.drugs LIKE '%${p.drugs}%'
            </if>
            <if test="p.status != null">
                and t.status = #{p.status}
            </if>
            <if test="p.startTime != null and p.startTime != '' ">
                and t.create_time >= #{p.startTime}
            </if>
            <if test="p.endTime !=null and p.endTime != '' ">
                and #{p.endTime} >= t.create_time
            </if>
        order by t.id desc
    </select>
</mapper>