<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hbq.cms.mapper.UserTrainsMapper">
    <select id="findList" resultType="map">
        select
            t.id id,  -- 主键
            t.user_id userId,  -- 用户id
            t.trains_id trainsId,  -- 培训id
            t2.title title,  -- 主题
            t2.video video,  -- 视频链接
            t2.train_start_time trainStartTime,  -- 培训开始时间
            t2.train_end_time trainEndTime,  -- 培训结束时间
            t2.click_num clickNum,  -- 视频点击次数
            t.status status,  -- 状态（0-未观看 1-正在观看 2-已观看）
            t.create_time createTime,  -- 创建时间
            t.update_time updateTime   -- 更新时间
        from user_trains t
        left join trains t2 on t.trains_id = t2.id
        <where>
            <if test="p.userId != null">
                and t.user_id = #{p.userId}
            </if>
            <if test="p.trainsId != null">
                and t.trains_id = #{p.trainsId}
            </if>
            <if test="p.status != null">
                and t.status = #{p.status}
            </if>
            <if test="p.startTime != null and p.startTime != '' ">
                and t.create_time >= #{p.startTime}
            </if>
            <if test="p.endTime !=null and p.endTime != '' ">
                and #{p.endTime} >= t.create_time
            </if>
        </where>
        order by t.id desc
    </select>
</mapper>