<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hbq.cms.mapper.UserMapper">
    <select id="findList" resultType="map">
        select
        t.id id,  -- 主键
        t.account account,  -- 工号
        t.name name,  -- 昵称
        t.pwd pwd,  -- 密码
        t.sex sex,  -- 性别（1-男 2-女）
        t.depa_id depaId,  -- 部门id
        t.type type,  -- 类型（1-管理员 2-领导 3-员工）
        t.create_time createTime,  -- 创建时间
        t.update_time updateTime   -- 更新时间
        from user t
        <where>
            <if test="p.account != null and p.account != ''">
                and t.account LIKE '%${p.account}%'
            </if>
            <if test="p.name != null and p.name != ''">
                and t.name LIKE '%${p.name}%'
            </if>
            <if test="p.pwd != null and p.pwd != ''">
                and t.pwd LIKE '%${p.pwd}%'
            </if>
            <if test="p.sex != null">
                and t.sex = #{p.sex}
            </if>
            <if test="p.depaId != null">
                and t.depa_id = #{p.depaId}
            </if>
            <if test="p.type != null">
                and t.type = #{p.type}
            </if>
            <if test="p.startTime != null and p.startTime != '' ">
                and t.create_time >= #{p.startTime}
            </if>
            <if test="p.endTime !=null and p.endTime != '' ">
                and #{p.endTime} >= t.create_time
            </if>
        </where>
        order by t.id desc
    </select>
</mapper>